* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(3, 77, 102);
    overflow-x: hidden;
}

.fondo-nave {
    position: absolute;
    z-index: -1;
    top: 30px;
    left: -25px;
    animation-name: nave;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: .5;
    animation-timing-function: ease-in;
}

@keyframes nave {
    0% {
        transform: translate(0px, 0px );
    }
    100% {
        transform: translate(1200px, 0px);
    }
}
/* Controles */
/* Botones genrales */
.cont-controles {
    width: 300px;
    height: 200px;
    border: solid 2px;
    border-radius: 25%;
    background: linear-gradient(to bottom, #570800 10%, #e10300 100%);
    position: relative;
    text-align: center;
}

.controles, .controles__boca, .controles__ojos {
    color: white;
}

.controles__boca, .controles__ojos {
    display: inline-block;
}

.button  {
    cursor: pointer;
    display: inline-block;
    width: 80px;
    height: 30px;
    background: linear-gradient(to bottom right, #e76e1d 10%, #fa8510 60%);
    border: solid 2px;
    border-radius: 45%;
    text-align: center;
    padding-top: 3px;
    box-shadow: 3px 3px;
    position: absolute;
    z-index: 100;
}

.button:active {
    background: rgb(243, 11, 11);
    color: white;
    box-shadow: 3px 3px black;
    border: solid 2px black;
}

/* Botones boca */
.btn-play__boca {
    top: 250px;
    left: 40px;
}

.btn-pausa__boca {
    top: 200px;
    left: 40px;
}

#pause-b:checked ~ .cont-cza-uno .cont-boca .cont-boca__fila {
    animation-name: hablar;
    animation-play-state: paused;
}

#play-b:checked ~ .cont-cza-uno .cont-boca .cont-boca__fila {
    animation-name: hablar;
    animation-play-state: running;
}

/* Botones ojos */
.controles__ojos {
    margin-left: 100px;
}

.btn-play__ojos {
    top: 250px;
    left: 180px;
}

.btn-pausa__ojos {
    top: 200px;
    left: 180px;
}

input {
    display: none;
}

#pause-o:checked ~ .cont-cza-uno .cont-ojos .cont-ojos__fondo .cont-ojos__ojo-uno .cont-ojos__pupilas {
    animation-name: pupila-ojos;
    animation-play-state: paused;
}
#pause-o:checked ~ .cont-cza-uno .cont-ojos .cont-ojos__fondo .cont-ojos__ojo-dos .cont-ojos__pupilas {
    animation-name: pupila-ojos;
    animation-play-state: paused;
}

#play-o:checked ~ .cont-cza-uno .cont-ojos .cont-ojos__fondo .cont-ojos__ojo-uno .cont-ojos__pupilas, .cont-cza-uno .cont-ojos .cont-ojos__fondo .cont-ojos__ojo-dos .cont-ojos__pupilas {
    animation-name: pupila-ojos;
    animation-play-state: running;
}


/* Texto */
.cont-text {
    font-size: 14px;
    margin: 0 auto;
    width: 586px;
    position: relative;
}

.cont-text__degradado {
    font-size: 7em;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #570800 40%, #e10300 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes texto {
    0% {
        background: linear-gradient(to bottom, #570800 40%, #e10300 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    50% {
        background: linear-gradient(to bottom, #570800 20%, #e10300 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background: linear-gradient(to bottom, #570800 1%, #e10300 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.sombra1 {
    text-transform: uppercase;
    font-size: 7em;
    position: absolute;
    z-index: -1;
    top: 0.01em;
    left: 0.02em;
}
.sombra2 {
    text-transform: uppercase;
    font-size: 7em;
    position: absolute;
    z-index: -1;
    top: .02em;
    left: .03em;
}
.sombra3 {
    text-transform: uppercase;
    font-size: 7em;
    position: absolute;
    z-index: -1;
    top: .03em;
    left: .04em;
}
.sombra4 {
    text-transform: uppercase;
    font-size: 7em;
    position: absolute;
    z-index: -1;
    top: 0.04em;
    left: .05em;
}
.sombra5 {
    text-transform: uppercase;
    font-size: 7em;
    position: absolute;
    z-index: -1;
    top: .05em;
    left: .06em;
}
.sombra6 {
    text-transform: uppercase;
    font-size: 7em;
    position: absolute;
    z-index: -1;
    top: .06em;
    left: .07em;
}
.sombra7 {
    text-transform: uppercase;
    font-size: 7em;
    position: absolute;
    z-index: -1;
    top: .07em;
    left: .08em;
}
.sombra8 {
    text-transform: uppercase;
    font-size: 7em;
    position: absolute;
    z-index: -1;
    top: .08em;
    left: .09em;
}
.sombra9 {
    text-transform: uppercase;
    font-size: 7em;
    position: absolute;
    z-index: -1;
    top: .09em;
    left: .10em;
}

/* Cabeza */
.cont-cza-uno {
    width: 18.75em;
    height: 28.125em;
    background: linear-gradient(to left, #8ba6a9 60%, #a5c1c7 100%);
    border: solid 2px;
    border-top: transparent;
    box-shadow: 10px 3px black;
    position: relative;
    z-index: -4;
    font-size: .5px;
    margin: -100px 0px 0px 90px;
    animation-name: cabeza;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes cabeza {
    0% {
        transform: translate(0px, 0px);
        font-size: .5px;
    }

    50% {
        transform: translate(500px, 00px);
        font-size: .5px;
    }

    100% {
        transform: translate(300px, 150px);
        font-size: 12px;
        
    }
}

.cont-cza-dos {
    width: 18.75em;
    height: 24em;
    position: absolute;
    background: linear-gradient(to left, #8ba6a9 60%, #a5c1c7 100%);
    border: solid 2px;
    border-radius: 48%;
    top: -12em;
    left: -0.125em;
    box-shadow: 10px 3px black
}

/* Antena */
.cont-ant__inicio {
    width: 3.125em;
    height: 3.125em;
    background-color: rgb(165, 193, 199);
    border-radius: 50%;
    border: solid 0.125em;
    position: absolute;
    top: -12.5em;
    left: 7.8125em;
    box-shadow: 0.625em 0.1875em black
    
}

.cont-ant__cable {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent rgb(165, 193, 199) transparent;
    border-width: 0px 0.625em 8.3em 0.625em;
    position: absolute;
    top: -20.5em;
    left: 8.78em;
    box-shadow: 0.5em -0.0625em black
}

.cont-ant__punta {
    width: 1.875em;
    height: 1.875em;
    border-radius: 50%;
    border: solid 0.125em;
    background-color: rgb(165, 193, 199);
    position: absolute;
    top: -20.625em;
    left: 8.4em;
    box-shadow: 0.9em 0em black
}

/* Ojos */
.cont-ojos {
    width: 30em;
    height: 12.5em;
    background-color: rgb(165, 193, 199);
    border-radius: 45%;
    border: solid 2px;
    position: absolute;
    left: -5.625em;
    box-shadow: 10px 3px black
}

.cont-ojos__fondo {
    width: 27.5em;
    height: 10em;
    background-color: black;
    position: absolute;
    border-radius: 45%;
    top: 1.25em;
    left: 1.25em;
}

.cont-ojos__ojo-uno {
    width: 9.0625em;
    height: 9.0625em;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    left: 3.125em;
    top: 0.4375em
}

.cont-ojos__ojo-dos {
    width: 9.0625em;
    height: 9.0625em;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    right: 3.125em;
    top: 0.4375em;
}

.cont-ojos__pupilas {
    background-color: black;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 4.0313em;
    left: 4.0313em;
    animation: pupila-ojos 4s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: ;
}

@keyframes pupila-ojos {
    0% {
        transform: translate(0px, 0px);
    }

    25% {
        transform: translate(4.0313em, 0px);
    }

    50% {
        transform: translate(0px, 0px);
    }

    75% {
        transform: translate(-4.0313em, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

/* Boca */
.cont-boca {
    width: 18.125em;
    height: 9.375em;
    background-color: white;
    position: relative;
    border-radius: 45%;
    border: solid 0.125em;
    top: 17.5em;
    left: 0.13em;
    overflow: hidden;
}

.cont-boca__fila {
    display: flex;
    position: relative;
    top: -1.8em;
    background-image: url(../imagenes/hablar.png);
    animation-name: hablar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes hablar {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -36.875em 0px;
    }
}

.cont-boca__colum {
    width: 2.0187em;
    height: 14em;
    border: solid 0.125em;
}

/* Media Queries */
@media screen and (max-width: 780px) and (min-width: 481px) {
    

    .fondo-nave {
        z-index: -1;
        top: 30px;
        left: -25px;
        animation-name: nave;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay: .5;
        animation-timing-function: ease-in;
    }
    
    @keyframes nave {
        0% {
            transform: translate(0px, 0px);
        }

        50% {
            transform: translate(0px, 180px);
        }
        100% {
            transform: translate(400px, 180px);
        }
    }
    /* Cabeza */
    .cont-cza-uno {
        z-index: -4;
        font-size: .5px;
        margin: -60px 0px 0px 120px;
        animation-name: cabeza;
        animation-delay: .5s;
        animation-duration: 7s;
        animation-fill-mode: forwards;
    }
    @keyframes cabeza {
        0% {
            transform: translate(0px, 0px);
            font-size: .5px;
        }

        50% {
            transform: translate(0px, 125px);
            font-size: .5px;
        }

        100% {
            transform: translate(100px, 300px);
            font-size: 10px;
        }
    }
    }

    .cont-text {
        font-size: 12px;
        width: 500px;
    }

    @keyframes hablar {
        0% {
            background-position: 0px 0px;
        }
        100% {
            background-position: -40em 0em;
        }       
    }



@media screen and (max-width: 480px) {
    body {
        overflow: hidden;
    }

    .cont-controles {
        height: 150px;
    }
    /* Nave */
    .fondo-nave {
        z-index: 1000;
        top: 20px;
        left: -25px;
        animation-name: nave;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay: .5;
        animation-timing-function: ease-in;
    }
    
    @keyframes nave {
        0% {
            transform: translate(0px, 0px);
        }

        50% {
            transform: translate(0px, 150px);
        }
        100% {
            transform: translate(400px, 150px);
        }
    }
    /* Cabeza */
    .cont-cza-uno {
        z-index: -4;
        font-size: .5px;
        margin: -45px 0px 0px 90px;
        animation-name: cabeza;
        animation-delay: .5s;
        animation-duration: 7s;
        animation-fill-mode: forwards;
    }

    @keyframes cabeza {
        0% {
            transform: translate(0px, 0px);
            font-size: .5px;
        }

        50% {
            transform: translate(80px, 125px);
            font-size: .5px;
        }

        100% {
            transform: translate(30px, 250px);
            font-size: 9px;
        }
    }
    }

    /* Botones boca */
    .btn-play__boca {
        top: 128px;
        left: 40px;
    }

    .btn-pausa__boca {
        top: 165px;
        left: 40px;
    }

    /* Botones ojos */
    .controles__ojos {
        margin-left: 100px;
    }

    .btn-play__ojos {
        top: 128px;
        left: 190px;
    }

    .btn-pausa__ojos {
        top: 165px;
        left: 190px;
    }

    /* Texto */
    .cont-text {
        width: 300px;
        font-size: 7px;
        margin: 0 auto
    }

    .cont-boca__fila {
        top: -.2em;
        background-image: url(../imagenes/hablar-mobile.png);
    }

    @keyframes hablar {
        0% {
            background-position: 0px 0px;
        }
        100% {
            background-position: -31em 0em;
        }       
    }
}
