* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(3, 77, 102);
}

/* Texto */
.cont-text {
    text-align: center;
    margin: 0 auto;
}

.cont-text__degradado {
    font-size: 8rem;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #570800 30%, #e10300 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Antena */
.cont-ant-inicio {
    width: 3.125rem;
    height: 3.125rem;
    background-color: rgb(165, 193, 199);
    border-radius: 50%;
    border: solid 0.125rem;
    position: absolute;
    top: -12.5rem;
    left: 7.8125rem;
    box-shadow: 0.625rem 0.1875rem black
    
}

.cont-cable {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent rgb(165, 193, 199) transparent;
    border-width: 0px 0.625rem 8.3rem 0.625rem;
    position: absolute;
    top: -20.5rem;
    left: 8.78rem;
    box-shadow: 0.5rem -0.0625rem black
}

.cont-punta {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    border: solid 0.125rem;
    background-color: rgb(165, 193, 199);
    position: absolute;
    top: -20.625rem;
    left: 8.4rem;
    box-shadow: 0.9rem 0rem black
}

/* Cabeza */
.cont-cza-uno {
    width: 18.75rem;
    height: 24rem;
    position: absolute;
    background-color: rgb(139, 166, 169);
    border: solid 2px;
    border-radius: 48%;
    top: -12rem;
    left: -0.125rem;
    box-shadow: 10px 3px black
}

.cont-cza-dos {
    width: 18.75rem;
    height: 28.125rem;
    background-color: rgb(139, 166, 169);
    position: relative;
    border: solid 2px;
    border-top: transparent;
    margin: 250px auto;
    box-shadow: 10px 3px black
}

/* Ojos */
.cont__ojos {
    width: 30rem;
    height: 12.5rem;
    background-color: rgb(165, 193, 199);
    border-radius: 45%;
    border: solid 2px;
    position: absolute;
    left: -5.625rem;
    box-shadow: 10px 3px black
}

.cont__fondo {
    width: 27.5rem;
    height: 10rem;
    background-color: black;
    position: absolute;
    border-radius: 45%;
    top: 1.25rem;
    left: 1.25rem;
}

.cont__ojo-uno {
    width: 9.0625rem;
    height: 9.0625rem;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    left: 3.125rem;
    top: 0.4375rem
}

.cont__ojos-dos {
    width: 9.0625rem;
    height: 9.0625rem;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    right: 3.125rem;
    top: 0.4375rem;
}


.cont-pupila-uno {
    background-color: black;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 4.0313rem;
    left: 4.0313rem;
    animation: pupila-ojos 4s .5s infinite;
}

.cont-pupila-dos {
    background-color: black;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 4.0313rem;
    left: 4.0313rem;
    animation: pupila-ojos 4s .5s infinite;
}

@keyframes pupila-ojos {
    0% {
        top: 4.0313rem;
        left: 4.0313rem;
    }

    25% {
        top: 4.0313rem;
        left: 8.0313rem;
    }

    50% {
        top: 4.0313rem;
        left: 4.0313rem;
    }

    75% {
        top: 4.0313rem;
        left: -.0313rem;
    }

    100% {
        top: 4.0313rem;
        left: 4.0313rem;
}
}

/* Boca */
.boca {
    width: 18.125rem;
    height: 9.375rem;
    background-color: white;
    position: absolute;
    border-radius: 45%;
    border: solid 0.125rem;
    top: 17.5rem;
    left: 0.13rem;
}

.cont-dientes {
    width: 18.125rem;
    height: 9.375rem;
    border-radius: 50%;
    overflow: hidden;
}
.fila {
    display: flex;
    position: relative;
    top: -0.0625rem;
    left: -0.0625rem;
}

.colum {
    width: 2.0187rem;
    height: 3.3125rem;
    border: solid 0.125rem;
}

@media screen and (max-width: 780px) and (min-width: 481px) {
    html {
        font-size: 14px;
    }
    
    .cont-cza-dos {
        margin: 350px auto
    }

    .cont-text__degradado {
        font-size: 6rem;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 9px;
    }

    .cont-cza-dos {
        margin: 250px auto
    }

    .cont-text {
        width: 100%;
    }
    .cont-text__degradado {
        font-size: 5rem;
    }
}
